[submodule "third_party/triton_linalg"]
	path = third_party/triton_linalg
	url = git@github.com:Cambricon/triton-linalg.git
[submodule "third_party/triton"]
	path = third_party/triton
	url = git@github.com:triton-lang/triton.git
[submodule "third_party/json"]
	path = third_party/json
	url = git@github.com:nlohmann/json.git
[submodule "third_party/triton_shared"]
	path = third_party/triton_shared
	url = git@github.com:microsoft/triton-shared.git
[submodule "third_party/ascendnpu-ir"]
	path = third_party/ascendnpu-ir
	url = https://gitee.com/ascend/ascendnpu-ir.git
