[submodule "third_party/triton"]
    path = third_party/triton
    url = git@github.com:triton-lang/triton.git
    branch = v3.5.0
[submodule "third_party/ascendnpu-ir"]
    path = third_party/ascendnpu-ir
    url = https://gitcode.com/Ascend/AscendNPU-IR.git
    branch = ef9139b323e25e8dae0a812ac585f3b47ab5d955