setuptools>=40.8.0
wheel
cmake>=3.20,<4.0
ninja>=1.11.1
pybind11>=2.13.1
lit
tabulate
sphinx
matplotlib
myst_parser
sphinx-rtd-theme
pandas
pytest
sphinx-gallery
sphinx-multiversion
llnl-hatchet
attrs
cython
numpy<2
numpoly
decorator
sympy
cffi
pyyaml
pathlib2
psutil
protobuf==3.20
scipy
requests
absl-py
auditwheel
einops
expecttest
patchelf
pytest-xdist
twine
nanobind>=2.4
pytest-timeout
